<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner">
        <div class="page-logo">
            <a href="javascript:;">
                 <img src="http://froiden.cloudapp.net/hrm_demo/assets/admin/layout/img/logo.png" class="logo-default" height="22px" width="86px" alt="Logo">
            </a>
            <div class="menu-toggler sidebar-toggler hide">
            </div>
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        </a>
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
              <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                  <i class="icon-bell"></i>
                  <span class="badge badge-default">
                      11
                  </span>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="external">
                      <h3><span class="bold">11 pending</span> notifications</h3>

                    </li>
                    <li>
                      <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                        <li>
                          <a  data-toggle="modal" href="#static_leave_requests" onclick="show_application_notification(1300);return false;">
                          <span class="time">22-May-2017</span>
                          <span class="details">
                          <span class="label label-sm label-icon label-success">
                          <i class="fa fa-bell-o"></i>
                          </span>
                            <strong>Antonio Lima </strong> has applied for leave on 31-May-2017</span>
                          </a>
                        </li>
                    <li>
                      <a  data-toggle="modal" href="#static_leave_requests" onclick="show_application_notification(1335);return false;">
                      <span class="time">23-May-2017</span>
                      <span class="details">
                      <span class="label label-sm label-icon label-success">
                      <i class="fa fa-bell-o"></i>
                      </span>
                        <strong>Antonio Lima </strong> has applied for leave on 24-May-2017</span>
                      </a>
                    </li>
                    <li>
                      <a  data-toggle="modal" href="#static_leave_requests" onclick="show_application_notification(1336);return false;">
                      <span class="time">23-May-2017</span>
                      <span class="details">
                      <span class="label label-sm label-icon label-success">
                      <i class="fa fa-bell-o"></i>
                      </span>
                        <strong>Antonio Lima </strong> has applied for leave on 24-May-2017</span>
                      </a>
                    </li>
                    <li>
                      <a  data-toggle="modal" href="#static_leave_requests" onclick="show_application_notification(1337);return false;">
                      <span class="time">23-May-2017</span>
                      <span class="details">
                      <span class="label label-sm label-icon label-success">
                      <i class="fa fa-bell-o"></i>
                      </span>
                        <strong>Antonio Lima </strong> has applied for leave on 27-May-2017</span>
                      </a>
                    </li>
                    <li>
                      <a  data-toggle="modal" href="#static_leave_requests" onclick="show_application_notification(1374);return false;">
                      <span class="time">24-May-2017</span>
                      <span class="details">
                      <span class="label label-sm label-icon label-success">
                      <i class="fa fa-bell-o"></i>
                      </span>
                        <strong>Antonio Lima </strong> has applied for leave on 31-May-2017</span>
                      </a>
                    </li>
                    <li>
                        <a  data-toggle="modal" href="#static_leave_requests" onclick="show_application_notification(1583);return false;">
                        <span class="time">03-Jun-2017</span>
                        <span class="details">
                        <span class="label label-sm label-icon label-success">
                        <i class="fa fa-bell-o"></i>
                        </span>
                          <strong>Antonio Lima </strong> has applied for leave on 08-Jun-2017</span>
                        </a>
                    </li>
                    <li>
                      <a  data-toggle="modal" href="#static_leave_requests" onclick="show_application_notification(1661);return false;">
                      <span class="time">08-Jun-2017</span>
                      <span class="details">
                      <span class="label label-sm label-icon label-success">
                      <i class="fa fa-bell-o"></i>
                      </span>
                        <strong>Antonio Lima </strong> has applied for leave on 23-Jun-2017</span>
                      </a>
                    </li>
                    <li>
                      <a  data-toggle="modal" href="#static_leave_requests" onclick="show_application_notification(1778);return false;">
                      <span class="time">11-Jun-2017</span>
                      <span class="details">
                      <span class="label label-sm label-icon label-success">
                      <i class="fa fa-bell-o"></i>
                      </span>
                        <strong>Antonio Lima </strong> has applied for leave on 12-Jun-2017</span>
                      </a>
                    </li>
                    <li>
                      <a  data-toggle="modal" href="#static_leave_requests" onclick="show_application_notification(1781);return false;">
                      <span class="time">13-Jun-2017</span>
                      <span class="details">
                      <span class="label label-sm label-icon label-success">
                      <i class="fa fa-bell-o"></i>
                      </span>
                        <strong>Antonio Lima </strong> has applied for leave on 13-Jun-2017</span>
                      </a>
                    </li>
                    <li>
                      <a  data-toggle="modal" href="#static_leave_requests" onclick="show_application_notification(1863);return false;">
                      <span class="time">20-Jun-2017</span>
                      <span class="details">
                      <span class="label label-sm label-icon label-success">
                      <i class="fa fa-bell-o"></i>
                      </span>
                        <strong>Antonio Lima </strong> has applied for leave on 30-Jun-2017</span>
                      </a>
                    </li>
                   <li>
                      <a  data-toggle="modal" href="#static_leave_requests" onclick="show_application_notification(1864);return false;">
                      <span class="time">20-Jun-2017</span>
                      <span class="details">
                      <span class="label label-sm label-icon label-success">
                      <i class="fa fa-bell-o"></i>
                      </span>
                        <strong>Antonio Lima </strong> has applied for leave on 07-Jul-2017</span>
                      </a>
                    </li>      
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown dropdown-user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <img src="http://froiden.cloudapp.net/hrm_demo/assets/admin/layout/img/avatar3_small.jpg" class="img-circle" alt="small image">

                <span class="username username-hide-on-mobile">
              Ajay Kumar Choudhary</span>
                <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a href="http://froiden.cloudapp.net/hrm_demo/admin/profile_settings/1/edit">
                        <i class="icon-user"></i> My Profile </a>
                    </li>

                    <li class="divider">
                    </li>
                    <li>
                        <a href="http://froiden.cloudapp.net/hrm_demo/screenlock ">
                        <i class="icon-lock"></i> Lock Screen </a>
                    </li>
                    <li>
                        <a href="http://froiden.cloudapp.net/hrm_demo/admin/logout ">
                          <i class="icon-logout"></i> Log Out </a>
                    </li>
                </ul>
            </li>
            </ul>
        </div>
    </div>
</div>

<form method="POST" action="http://froiden.cloudapp.net/hrm_demo" accept-charset="UTF-8" id="edit_form_leave">
  <input name="_method" type="hidden" value="PATCH"><input name="_token" type="hidden" value="kTOtHlzMbNI2Vzt5aNPn0TAfG1dyUWzb8EUPL6w8">
<div id="static_leave_requests" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <span class="caption-subject font-red-sunglo bold uppercase">Leave Application</span>
      </div>
      <div class="modal-body" id="modal-data-leave"></div>
    </div>
  </div>
</div>
</form>

<script>
  function show_application_notification(id)
    {
      $("#modal-data-leave").html('<div class="text-center"><img src="http://froiden.cloudapp.net/hrm_demo/assets/admin/layout/img/loading-spinner-blue.gif"></div>');
        $('#edit_form_leave').attr('action',"http://froiden.cloudapp.net/hrm_demo/admin/leave_applications/"+id+"" );
        $.ajax({
                type: "GET",
                url : "http://froiden.cloudapp.net/hrm_demo/admin/leave_applications/"+id+""

                }).done(function(response)
                {
                            $('#modal-data-leave').html(response);
                });
    }
</script>

<div class="clearfix"></div>
  <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
      <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="sidebar-toggler-wrapper">
          <div class="sidebar-toggler"></div>
        </li>
        <li class="start active">
          <a [routerLink]="'/'">
            <i class="fa fa-home"></i>
            <span class="title">Dashboard</span>
            <span class="selected"></span>
          </a>
        </li>     
        <li class="">
          <a href="javascript:;">
            <i class="fa fa-users"></i>
            <span class="title">Applicant</span>
            <span class="arrow "></span>
          </a>
          <ul class="sub-menu">
            <li class="">
              <a [routerLink]="['/applicant','create']" class="create">
                <i class="fa fa-users"></i>
                New Applicant
              </a>
            </li>
            <li class="">
              <a [routerLink]="['/applicant','list']" class="list">
              <i class="fa fa-users"></i>
              Applicant List</a>
            </li>
          </ul>
        </li>
        <li class="">
          <a href="javascript:;">
            <i class="fa fa-briefcase"></i>
            <span class="title">Department</span>
            <span class="arrow "></span>
          </a>
          <ul class="sub-menu">
            <li class="">
              <a href="http://froiden.cloudapp.net/hrm_demo/admin/departments">
              <i class="fa fa-briefcase"></i>
              Department List </a>
            </li>
          </ul>
        </li>              
      </ul>
    </div>
  </div>
