<div class="row">
  <div id="list-applicant" class="content scaffold-list col-lg-12 col-md-12 col-sm-12 col-xs-12" role="main">
    <div class="portlet box blue">
      <div class="portlet-title">
        <div class="caption">
          Applicant List
        </div>
      </div>
      <div class="portlet-body">
        <table id="sample_employees">
          <thead>
            <tr>
              <th>Id</th>
              <th>Middle Name</th>
              <th>Name Extension</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Cellphone</th>
              <th>First Name</th>
            </tr>
          </thead>
          <tbody>
            <tr [ngClass]="{'even': e, 'odd': !e}" *ngFor="let applicant of applicantList; let e = even;">
              <td>
                <a [routerLink]="['/applicant','show',applicant.id]">{{applicant.id}}</a>
              </td>
              <td>
                <span>{{applicant.middleName}}</span>
              </td>
              <td>
                <span>{{applicant.nameExtension}}</span>
              </td>
              <td>
                <span>{{applicant.lastName}}</span>
              </td>
              <td>
                <span>{{applicant.email}}</span>
              </td>
              <td>
                <span>{{applicant.cellphone}}</span>
              </td>
              <td>
                <span>{{applicant.firstName}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
